/* DESKTOP LAYOUT */

body {
    margin: 1;
    background-color:bisque;
}

h2, h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
}
h4 {
    font-family: 'Basic', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border-color: white;
}

h2#aboutborder {
    background-color: black;
    border-radius: none;
    color: white;
    
}

p {
    font-family: 'Pathway Gothic One', sans-serif;
}

li {
    font-family: 'Basic', sans-serif;
}

img {
    width: 100%;
}

img#self {
    width: 45%;
    float: left;
    border-style: double;
    border-width: 10px;
    border-color: black;
    background-color: darkslategrey;
    margin: 20px;
}

section {
    width: 50%;
    float: left;
    display: block;
}

section#project {
    padding-bottom: 60px ;
}

section#aboutme {
    width: 100%;
}

footer {
    width: 100%;
    display: block;
}


/* MOBILE LAYOUT */

@media only screen and (max-width:500px) {
    
    body {
        width: 80%;
        padding: 2% 2%;
    }
    
    img {
        width: 80%;
    }
    
}