/* DESKTOP LAYOUT */

body {
    margin: 1;
    background-color:bisque;
}

img#logo {
    width: 10%;
    float: left;
}

h2#name {
    color:crimson;

}

h3#name2{
    margin-top: -50px;
    color: dimgrey;
    width: 100%;
}

p#list {
    margin-top: 5%;
    font-size: 2em;
    color: black;
}

h4#exercise, h4#project2 {
    padding: 2px 1px;
    background-color: black;
    color: bisque;
    margin-right: 50px;
}

h2, h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
}
h4 {
    font-family: 'Basic', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border-color: bisque;
}

h2#aboutborder {
    background-color: black;
    border-radius: none;
    color: bisque;
    
}

p#footer {
    font-size: .9em;
}

p {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2em;
    margin-top: -20px;
}

li {
    font-family: 'Basic', sans-serif;
    color: crimson;
}

a{
    text-decoration: none;
    color: dimgrey;
}

img {
    width: 100%;
}

img#self {
    width: 35%;
    float: left;
    border-style: double;
    border-width: 10px;
    border-color: black;
    background-color: darkslategrey;
    margin: 20px;
}

section {
    width: 80%;
    float: left;
    display: block;
}

section#exercise2 {
    padding-right: 50%;
    margin-top: -5%;
}

section#project {
    padding-bottom: 80px ;
    padding-left: -150px;
}

section#aboutme {
    width: 100%;
}

footer {
    width: 20%;
    float: left;
    margin-top: -3.5%;
    margin-left: 1.667%
}


/* MOBILE LAYOUT */

@media only screen and (max-width:500px) {
    
    body {
        width: 80%;
        padding: 2% 2%;
    }
    
    img {
        width: 80%;
    }
    
    img#logo {
        width: 30%;
        float: 
    }
    
}