body {
    margin: 0;
    width: 100%;
    padding: 70px 2%;
    margin: 0;
    font-size: 1em;
    background-color: yellow;
}

img {
    width:95%;
    padding: 20px;
}

p {
    width:90%;
    text-align: left;
    font-size: 1.1em;
    margin: 3%;
    padding: 30px 1.5%
    font-family: 'Poppins', sans-serif;
}

blockquote {
    font-size: 2em;
    padding: 50px 10%;
    border: 10px double orange;
    text-align: center;
}

h2 {
    color: orange;
    text-align: center;
    padding: 1px 0;
    font-size: 4em;
    font-family: 'Acme', sans-serif;
}

h5, h4 {
    text-align: center;
    font-family: 'Sansita', sans-serif;
}
h4 {
    font-family: 'Ropa Sans', sans-serif;
}

h3 {
    text-align: center;
    font-size: 3em;
    font-family: 'Muli', sans-serif;
}

img#albums {
    width: 90%;
    padding: 20px 5%;
}

img#pin1, img#pin2, img#pin3{
    width: 30%;
}