body {
    background-position: top right;
    background-image: url(Images/bluemarble_nightlights.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

img#wehuman {
    width: 100%;
    padding-left: 10px;
}


h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding: 0px 35px;
    padding-top: 0.5in;
}

h1, p{
    color: white;
    font-family: 'Asap', sans-serif;
    padding: 0px 35px;
}


p {
    width: 40%;
    padding: 15px 35px;
    margin-top: -35px;
    line-height: 150%;
    position: inherit;
}

img#greenhouse {
    position: inherit;
    margin-bottom: 40px;
}

img#greenhouse {
    padding: 0px 35px;
}

img#molecules {
    width: 35%;
    padding: 50px 65px;
    position: inherit;
}

img#words {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 1in;
}

img#effectbutton {
    width: 40%;
    display: block;
    margin: auto;
}

img#home {
    position: fixed;
    width: 80px;
    right: 3%;
    bottom: 3%;
}

.thumbnail:hover {
    position:fixed;
    width:500px;
    height:auto;
    display:flex;
    z-index:999;
}

img#effectbutton {
    padding-top: .5in;
}

@media only screen and (max-width:500px) {
    
    body {
        width: 80%;
        padding: 2% 2%;
    }
    
    img {
        width: 90%;
    }
    
    p {
        width: 80%;
        
    }
    div#2ndpag {
        
    }
    
    img#effectbutton {
        width: 80%;
        padding-top: 10px;
    }
    
    img#molecules {
        width: 70%;
        padding-bottom: 30px;
        position: inherit;
    }