body {
    background-color: black;
    background-image: url(Images/earthevidence.png);
    background-size:  70%;
    background-repeat:no-repeat; 
    background-attachment: fixed;
    background-position: center;
}

img#evidence {
    width: 100%;
    padding: 0;
}

h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
}

h3, p {
    color: white;
    font-family: 'Asap', sans-serif;
}


h2 {
    font-size: 2em;
    color: darkgrey;
    padding: 0 55px;
}

h3 {
    font-size: 30px;
    padding: 0px 55px;
    padding-top: 0.5in;
}

p {
    padding: 10px 55px;
    margin-top: -20px;
    position: inherit;
}

div#climate {
    width: 50%;
    padding: 10px 25px;
    position: inherit;
}

section {
    width: 30%;
    position: inherit;
}


img{
    width: 400px;
    padding: 0px 55px;
    position: inherit;
}


img#home {
    position: fixed;
    width: 80px;
    right: 3%;
    bottom: 3%;
}

img#causebutton {
    width: 40%;
    display:block;
    margin: auto;
    padding: 50px 0;
}

.thumbnail:hover {
    position:fixed;
    width:500px;
    height:auto;
    display:flex;
    z-index:999;
}

@media only screen and (max-width:500px) {
    
    body {
        width: 80%;
        padding: 2% 2%;
    }
    
    img {
        width: 80%;
    }