body {
    width: 100%;
    background-size: cover;
    background-image: url(earth.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Bree Serif', serif;
    font-size: 100px;
    margin-left: 40px;
}

h3 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: -80px;
    margin-left: 70px;
    font-size: 20px;
}

section#navigation {
    position:absolute;
    right: 1%;
    top: 0;
}

section#navigation img {
    width: 10vw;
}

img#evidence {
}

img#cause {
    margin-top: -20px; 
}

img#effect {
    margin-top: -15px;

}

@media only screen and (max-width:500px) {
    
    body {
        width: 90%;
        padding: 2% 2%;
    }
    
    h1 {
        font-size: 80px;
        width: 80%;
        position: inherit;
        text-align: center;
        margin-right: 20px;
        margin: auto;
        margin-top: 40px;
    }
    
    h3 {
        width: 100%;
        margin-top: -65px;
        text-align: center;
        margin: auto;
        
    }
    
    section#navigation img {
        width: 130%;
        position: inherit;
        
    }
    
    section#navigation {
        width: 50%;
        right: 30%;
        top: 35%;
    }